footer {
    position: fixed;
    bottom: 0;
    width: inherit;
    height: 150px;
    background-color: rgb(238, 238, 238);
    overflow-y: scroll;
    padding: 10px 40px;
}

.product {
    display: flex;
    margin-bottom: 10px;
}

.name {
    flex-basis: 60%;
}

.quantity {
    flex-basis: 20%;
}

.price {
    flex-basis: 20%;
}



.final {
    display: flex;
    justify-content: space-between;
}

